body{
  background: blue;
}
canvas{
  display:block;
  vertical-align:bottom;
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('space.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
